.card {
    width: 300px;
    height: 600px;
    &-title {
        margin-bottom: auto;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
    }
    &-content {
        height: 150px;
        display: flex;
        flex-direction: column;
    }
}

img {
    width: 250px;
    height: 450px;
    object-fit: cover;
}